*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2{
    color: white;
}
body{
    background-color: #567;
    display: flex;
    gap: 2em;
    flex-direction: column;
    padding: 2em;
}
.caja{
    width: 40%;
    height: 24em;
    background-color: #abc;
    display: flex;
    flex-direction: column;
    background-color: #46f;
}
#formulario{
    width: 40%;
    height: 24em;
    display: flex;
    flex-direction: column;
}
#padreInputs{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    width: 100%;
    padding: 2em 0;
}
.input{
    display: flex;
    background-color: white;
    border: solid 2px black;
    width: 100%;
    height: 40px;
    align-items: center;
}
#botonesFormulario{
    display: flex;
    gap: 5em;
    padding: 1.5em 10em;
}
.btn{
    background-color: #16b;
    width: 5em;
    height: 3em;
    align-content: center;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
    color: white;
    padding: 0.5em;
}
#botonesReg{
    display: flex;
    gap: 5em;
    padding: 1.5em 10em;
}

.salida{
    background-color: white;
    border: solid 2px black;
    height: 40px;
}
#errores{
    display: none;
    background-color: cyan;
    width: 10em;
}
#vista h2 span{
    font-size: 1rem;
    padding: 0.3rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: brown;
    border-radius: 50%;
}
.ficha{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: white;
}